/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #203224;
  background: #eee;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a.selected, a:hover {
  color: #eee;
}
a.selected {
  font-weight: 700;
}
a:hover {
  border-bottom: 1px solid #eee;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #eee;
}
.nav li {
  padding: 5px 8px 8px 8px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #eee;
}

header {
  text-align: center;
  background: url('images/farm_gs.png') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #eee;
  transition: all .25s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}
.tag {
  background-color: #eee;
  color: #222;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #203224;
  color: #e0f2e4;
  border: 1px solid #999;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #e0f2e4;
  border: 1px solid #222;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #aaa;
}

.card img {
  max-width: 100%;
  border: 4px solid #fff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #a6937c;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #528cd7;
}

/* Create a more specific selector for the second set of skills and reverse the background colors compared to the first set of skills. */

ul.skills.reverse li {
  background: #528cd7;
}

ul.skills.reverse li:nth-child(odd) {
  background: #a6937c;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 0; /* Removed 20px left padding to center on mobile */
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}



/***********
PAGE: COMMON
***********/

#content-wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 20px 5% 0;
  text-align: left;
}



/**************
PAGE: EDUCATION
**************/

.education-block {
  margin: 0;
  padding: 0;
}

.education-program {
  font-size: 1.1em;
  font-weight: 700;
}

.education-specialization {
  font-size: .9em;
  font-weight: 400;
}

.school {
  font-size: 1em;
  font-weight: 400;
}

.graduation-date {
  font-size: .9em;
  font-weight: 300;
}

.courses-heading {
  font-size: .9em;
  font-weight: 700;
}

.courses {
  font-size: .825em;
  font-weight: 300;
}



/***************
PAGE: EXPERIENCE
***************/

.experience-block {
  margin: 0;
  padding: 0;
}

.date-range {
  font-size: 1.25em;
}

.company {
  font-size: 1em;
  padding-left: .75em;
  font-weight: 400;
}

.job-title {
  font-size: 1em;
  padding-left:.75em;
  font-weight: 800;
}

.accomplishments {
  font-size: .9em;
  padding-left: 3em;
}

/************************
Styles for larger screens
************************/
@media screen and (min-width: 640px) {
  
  .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex; 
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
    /* custom */
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    min-width: 500px;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

